.video-page-container {
  display: flex;
  gap: 16px;
  height: 100%;
}

.video-info-container {
  width: 100%;
}

.video-right-container {
  width: 50%;

  ::ng-deep app-video-card {
    display: flex;
    width: 100%;
    padding-bottom: 8px;
  }
}

.video-container {
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 16px;
  overflow: hidden;
  gap: 10px;
}

iframe {
  width: 100%;
  height: 450px;
  border: none;
}

.video-uploader-container {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  background-color: rgba(174, 174, 153, 0.3);
  box-shadow: 1px 2px 2px rgb(195, 195, 174);
  padding: 4px;
  border-radius: 16px;
  cursor: pointer;
}

.video-uploader-container:hover {
  background-color: rgba(231, 231, 210, 0.8);
}

.uploader-image {
  border-radius: 50%;
}

.video-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
