<mat-toolbar color="primary" class="toolbar-container">
  <div class="header-container">
    <button mat-icon-button type="button" (click)="onHeadlineIconClick()">
      <mat-icon>view_headline</mat-icon>
    </button>
  </div>
  <div><app-searchbar></app-searchbar></div>
  <div
    fxFlex
    fxLayout
    fxLayoutAlign="flex-end"
    fxHide.xs
    class="navigation-items"
  >
    <ul fxLayout fxLayoutGap="10px">
      <li>
        <a [routerLink]="siteRoutes.HOME_PAGE">
          <ng-container>Home</ng-container>
        </a>
      </li>

      <!-- The following menu options are only available with specific user roles -->
      <ng-container *ngIf="!!user; else notLoggedInUser">
        <li>
          <a [routerLink]="navigateToUserChanelRoute()">
            <ng-container>Chanel</ng-container>
          </a>
        </li>
        <li>
          <a (click)="onLogoutClick()">
            <ng-container>Logout</ng-container>
          </a>
        </li>
      </ng-container>
      <ng-template #notLoggedInUser>
        <li>
          <a [routerLink]="siteRoutes.LOGIN">
            <ng-container>Login</ng-container>
          </a>
        </li>
        <li>
          <a [routerLink]="siteRoutes.REGISTRATION_PAGE">
            <ng-container>Registration</ng-container>
          </a>
        </li>
      </ng-template>
    </ul>
  </div>
</mat-toolbar>
