<mat-toolbar color="primary">
  <div>
    <div>
      {{ getCurrentPageName() }}
    </div>
  </div>
  <div
    fxFlex
    fxLayout
    fxLayoutAlign="flex-end"
    fxHide.xs
    class="navigation-items"
  >
    <ul fxLayout fxLayoutGap="10px">
      <li>
        <a routerLink="/home">
          <ng-container>Home</ng-container>
        </a>
      </li>

      <!-- The following menu options are only available with specific user roles -->
      <ng-container *ngIf="isUserLoggedIn(); else notLoggedInUser">
        <li>
          <a routerLink="/chanel">
            <ng-container>Chanel</ng-container>
          </a>
        </li>
      </ng-container>
      <ng-template #notLoggedInUser>
        <li>
          <a routerLink="/login">
            <ng-container>Login</ng-container>
          </a>
        </li>
        <li>
          <a routerLink="/registration">
            <ng-container>Registration</ng-container>
          </a>
        </li>
      </ng-template>
    </ul>
  </div>
</mat-toolbar>
