.video-card {
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px gray;
  padding: 1rem;
  border-radius: 16px;
  cursor: pointer;
  display: grid;
  align-content: space-between;
}
