.video-card {
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px gray;
  padding: 1rem;
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;

  .video-card-image {
    width: 100%;
    cursor: pointer;
    border-radius: 6px;
  }

  .video-view-and-upload {
    display: flex;
    gap: 4px;

    div:last-of-type::before {
      content: "•";
    }
  }
}

:host {
  display: flex;
  width: 28%;
}
