<app-backdrop [isLoading]="isLoading"></app-backdrop>
<div class="login-container">
  <div class="card-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-holder">
      <div class="form-control-holder">
        <mat-form-field>
          <mat-label for="email">Enter your email address</mat-label>
          <input
            matInput
            type="email"
            placeholder="example@example.xyz"
            formControlName="email"
            required
            maxlength="200"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label for="password">Enter your password</mat-label>
          <input
            matInput
            type="password"
            placeholder="secret-password"
            formControlName="password"
            required
            minlength="8"
            maxlength="50"
            [disabled]="isLoading"
          />
        </mat-form-field>
      </div>
      <div class="button-holder">
        <div>
          <button mat-raised-button color="primary" type="submit">Login</button>
        </div>
        <div>
          <button
            mat-raised-button
            color="primary"
            type="button"
            [routerLink]="'/' + siteRoutes.REGISTRATION_PAGE"
            [disabled]="isLoading"
          >
            Registration
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
