<ng-container *ngIf="isLoading">
  <app-backdrop [isLoading]="isLoading"></app-backdrop>
</ng-container>
<div class="login-container">
  <div class="card-container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-holder">
      <div class="form-control-holder">
        <mat-form-field>
          <mat-label>Enter your email address</mat-label>
          <input
            matInput
            [type]="formFields.EMAIL"
            [formControlName]="formFields.EMAIL"
            placeholder="example@example.xyz"
            required
            maxlength="200"
          />
          <mat-error>{{ formError?.[formFields.EMAIL] }}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label for="password">Enter your password</mat-label>
          <input
            matInput
            type="password"
            placeholder="secret-password"
            [formControlName]="formFields.PASSWORD"
            required
            minlength="8"
            maxlength="50"
          />
          <mat-error>{{ formError?.[formFields.PASSWORD] }}</mat-error>
        </mat-form-field>
      </div>
      <div class="button-holder">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="isLoading"
        >
          Login
        </button>
      </div>
    </form>
  </div>
</div>
