.video-management-container {
  gap: 16px;

  .statistic-holder {
    gap: 8px;
    padding: 4px;

    .progressbar-holder {
      width: 24px;
      height: 24px;

      mat-progress-spinner {
        width: 22px !important;
        height: 22px !important;
      }
    }
  }
}
