<div class="video-management-container grid-container">
  <div>
    <h3>Upload a new video to your chanel</h3>
    <button mat-button type="button" (click)="handleOnUploadVideoClick()">
      <mat-icon>insert_drive_file</mat-icon>
      Upload new video
    </button>
  </div>

  <div>
    <h3>Manage your uploaded videos</h3>

    <mat-table #table [dataSource]="dataSource">
      <!-- Video path Column -->
      <ng-container matColumnDef="videoUrlPath">
        <mat-header-cell *matHeaderCellDef> Video </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <img
            class="video-card-image"
            [src]="element.videoUrlPath | videoImagePath"
            alt="Video Thumbnail"
            (click)="handleOnVideoClick(element.id)"
          />
        </mat-cell>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.title }} </mat-cell>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.description }}
        </mat-cell>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="statistics">
        <mat-header-cell *matHeaderCellDef> Statistics </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="grid-container statistic-holder">
            <div class="flex-container">
              <mat-icon>visibility</mat-icon>
              {{ element.viewCount | viewCountFormatter }}
            </div>
            <div class="flex-container">
              <mat-icon>cloud_upload</mat-icon>
              {{ element.upload.uploadTime | uploadTimeFormatter }}
            </div>
            <div class="video-view-and-upload flex-container">
              <div class="progressbar-holder">
                <mat-progress-spinner
                  mode="determinate"
                  [value]="getProgressSpinnerValue(element)"
                ></mat-progress-spinner>
              </div>
              <div>
                {{ element.rating.numberOfLikes | likeCountFormatter }} likes
              </div>
              <div>
                {{ element.rating.numberOsfDislikes | likeCountFormatter }}
                dislikes
              </div>
            </div>
            <div class="flex-container">
              <mat-icon>comment</mat-icon>
              {{ element.numberOfComments | likeCountFormatter }} comments
            </div>
          </div>
        </mat-cell>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="flex-container">
            <button
              mat-icon-button
              type="button"
              (click)="handleOnEditClick(element)"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              type="button"
              (click)="handleOnDeleteClick(element)"
            >
              <mat-icon class="delete-icon-button">delete_forever</mat-icon>
            </button>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
</div>
