<div class="video-management-container">
  <mat-table #table [dataSource]="dataSource">
    <!-- Video path Column -->
    <ng-container matColumnDef="videoUrlPath">
      <mat-header-cell *matHeaderCellDef> Video </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <img
          class="video-card-image"
          [src]="element.videoUrlPath | videoImagePath"
          alt="Video Thumbnail"
          (click)="handleOnVideoClick(element.id)"
        />
      </mat-cell>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.title }} </mat-cell>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.description }} </mat-cell>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div class="flex-container">
          <button
            mat-icon-button
            type="button"
            (click)="handleOnEditClick(element)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            type="button"
            (click)="handleOnDeleteClick(element)"
          >
            <mat-icon class="delete-icon-button">delete_forever</mat-icon>
          </button>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>
