<ng-container *ngIf="isLoading">
  <app-backdrop [isLoading]="isLoading"></app-backdrop>
</ng-container>
<div class="video-upload-container">
  <h3>Select a video and upload it here!</h3>
  <div>
    <input
      mat-button
      type="file"
      class="file-input"
      [accept]="requiredFileType"
      (change)="onFileSelected($event)"
      #fileUpload
    />

    <div class="flex-container button-container">
      {{ fileName || "No file uploaded yet." }}

      <button mat-icon-button color="primary" (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
      </button>
    </div>
  </div>
</div>
