.image-holder {
  display: flex;
  justify-content: center;
}

.text-holder {
  display: grid;
  justify-content: center;
  justify-items: center;
}

.not-found-holder {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
